<header>
  {{> header}}
</header>

<div>
  <h3 class="scriptName">{{artist_name}}</h3>
  <p class="about">{{artist_desc}}</p>
</div>

  <section>
      <div class="artContainer">
        {{#each art}}
        <div class="artPiece" data-id={{id}}>
          <img src={{photourl}} alt={{title}}>
          <h6>{{title}}</h6>
        </div>
        {{/each}}
      </div>
</section> 