
<header>
      {{> header}}
</header>

    <section>
      <div class="artContainer">
        {{#each art}}
        <div class="artPiece" data-id={{ id }}>
          <img src={{ photourl }} alt={{ title }}>
            <h6>{{ title }}</h6>
        </div>
          {{/ each}}
      </div>
</section>

<script async type="text/javascript">
  window.bvDCC = {
    catalogData: {
      locale: "en_US",
      catalogProducts: [{
        "productId": {{art.id}},
        "productName": {{art.title}},
      }]
    }
  };
  window.bvCallback = function (BV) {
    BV.pixel.trackEvent("CatalogUpdate", {
      type: 'Product',
      locale: window.bvDCC.catalogData.locale,
      catalogProducts: window.bvDCC.catalogData.catalogProducts
    });
  };

  <script>